* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

li {
    list-style: none;
}

body {
    background-color: #b9b7b7;
}

.bgc {

    width: 1143px;
    /* height: 800px; */
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 2px 3px 4px #aaa;
    margin: 0 auto;
}

.bgc .banner {
    position: relative;
    /* overflow: hidden; */
    width: 100%;

}

.bgc .banner a {
    position: absolute;
    text-decoration: none;
    left: 50px;
    top: 50px;


}

.banner .nav {
    position: absolute;
    left: 0;
    top: 120px;
    height: 70px;
    line-height: 70px;
    width: 100%;
    font-size: 18px;
    background-color: #fff;
}

.banner .nav ul {
    height: 100%;
    padding-left: 10px;
}

.banner .nav h2 {

    float: left;
    font-size: 18px;
    font-weight: 500;
    margin-right: 40px;
    text-align: center;
    padding-left: 20px;
}

.banner .nav ul li {
    float: left;
    margin-left: 5px;
    padding: 0 24px;
    text-align: center;
    border-bottom: 3px solid blue;
}

.banner .nav ul li .wenzi p {
    border-bottom: 1px solid #fff;
    display: none;
}

.banner .nav ul li:hover {
    background-color: orange;
}

.banner .nav ul li:hover .wenzi p {
    display: block;
    font-size: 14px;

}

.banner em {
    position: absolute;
    top: 50%;
    font-style: normal;
    font-size: 100px;
    color: #fff;
    cursor: pointer;

}

.banner em:hover {
    color: gray;
}

.banner em:last-of-type {
    left: 95%
}

.banner .pic li {
    display: none;
}

.banner .pic li:first-of-type {
    display: block;
}